# Maven - Arquivos de Build
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextReleaseBackup
pom.xml.versionsBackup
release.properties

# Spring Boot
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Logs e Arquivos Temporários
*.log
logs/
temp/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle (Mantemos por segurança se ainda houver resquícios)
.gradle/
build/

# Sistema Operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env